<div class="container"> 
  <form [formGroup]="notesForm" (ngSubmit)="addNotes()">

    <mat-card>
      <div class="mat-card-contents">
        <h3>Add Notes</h3>
        <div>
          <mat-form-field>
            <input type="text" matInput name="heading" id="heading" placeholder="Enter Heading" formControlName="heading">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea name="desc" id="desc" cols="10" rows="10" matInput placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" type="submit">Add Notes</button>
      </div>
      </div>
    </mat-card>
  </form>
</div>
<div class="list-container">
  <div class="list" *ngFor="let note of notesList">
    <mat-card>
      <mat-card-header>
        {{note.heading}}
      </mat-card-header>
      <mat-card-content>
        {{note.description}}
      </mat-card-content>
      <mat-icon>edit</mat-icon>
      <mat-icon>delete</mat-icon>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>