.container{
    padding: 16px;
    width: 25%;
    height: auto;
    align-items: center;
    float: left;
}

.mat-card-contents{
    padding: 24px;
    text-align: center;
}

.list-container{
    width: 70%;
    float: right;
    margin-top: 16px;
}

mat-icon{
    cursor: pointer;
}
